
/* Import Always are First */
/***************************/
@import url(/css/normalize.css)


/* General Rules that apply to all devices */

html *{
    box-sizing: border-box;
    height: 100%;
}

*::before, *::after{
box-sizing: border-box;
}

body, nav{
  font-family: 'Ubuntu', sans-serif;
  color: navy;
  padding: 0px;
  margin: 0px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 0.8rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2F356A;
  color: white;
  text-align: center;
}
  
header {
  Position: fixed;
  font-family: 'Roboto Condensed', sans-serif;
  border: none;
  background-color: #2F356A;
  width: 100%;
  text-align: center;
}
  
h1 {
  color: white;
  padding-left: 50px;
}
  
section h1 {
  color: darkblue;
}
  
h2 {
  color: darkblue;
  font-size: 1em;
  padding-left: 50px;
}
  
a {
  color: darkblue;
}
  
#aFooter {
  color: white;
}

p {
  color: white;
}
  
img {
  position: absolute;
  top: 35px;
  right: 100px;
  width: 20%;
  border: 3px solid navy;
}
  
ins {
  text-decoration: none;
}
  

/* Tablet View Rules */
@media screen and (min-width: 37.5em){

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8rem;
  }

  
}


/* Desktop View Rules */
@media screen and (min-width: 60em){

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 0.8rem;
  }

  
}

