/* Imports */
/* 1.1 Normalize Import */  
@import url('normalize.css');

/*General Rules that apply to all devices*/
* {
    box-sizing: border-box;
}

*::before, *::after{
box-sizing: border-box;
}

body {
  font-size: 20px;
  padding: 0px;
  margin: 0px;
  background:white;
}

header {
  font-family: 'Roboto', sans-serif;
  border: none;
  color: white;
  background-color: #2F356A;
  width: 100%;
  padding: 20px 0px 30px 0px;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: auto;
  place-items: center;
  font-family: 'Ubuntu', sans-serif;
}

section {
  display: block;
  background-color: white;
  border: 3px solid navy;
  width: 90%;
  height: 7u00px;
  text-align: center;
  margin-top: 30px;
  padding: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2F356A;
  color: white;
  text-align: center;
}

h1 {
  font-size: 1em;
  margin: 5px;
}

ins {
  text-decoration: none;
}

#aFooter {
  color: white;
}
img {
  display: block;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid navy;
}

/* Tablet Screen Rules */
@media screen and (min-width: 37.5em){
  main{
    display: grid;
    grid-template-columns: auto auto;
  }

  h1 {
    font-size: 1em;
  }
}

/* Desktop Screen Rules */
@media screen and (min-width: 60em){
  main{
    display: grid;
    grid-template-columns: auto auto auto;
  }
  h1 {
    font-size: 2em;
  }
}