
header {
    font-family: 'Fugaz One', Arial, sans-serif; 
    padding: 20px;
    background-color: dodgerblue;
  }
h1 {
  color: white;
}

h2 {
  color: dodgerblue;
}
 
section {
  background-color: #EAEAEA;
}

article {
  background-color: #EAEAEA;
}

aside {
    display: flexbox;
    background-color: #EAEAEA;
 }

 body {
  color: blue;
}

footer {
  color: white;
  background-color: dodgerblue;
  text-align: center;
  padding: 10px;
}