
header {
    font-family: 'Fugaz One', Arial, sans-serif; 
    padding: 20px;
    background-color: dodgerblue;
  }

aside {
    display: flexbox;
 }

 body {
  color: blue;
}

h1 {
  color: white;
}

h2 {
  color: dodgerblue;
}