
header {
    font-family: 'Fugaz One', Arial, sans-serif; 
    padding: 20px;
    border: none;
    background-color: dodgerblue;
  }

body {
  border: none;
  color: blue;
}
    
h1 {
  color: white;
}

h2 {
  color: dodgerblue;
}
 
section {
  background-color: #EAEAEA;
  border: none;
}

article {
  background-color: #EAEAEA;
  border: none;
}

aside {
    display: flexbox;
    background-color: #EAEAEA;
    border: none;
 }

#picture {
  width: 20px;
}

footer {
  color: white;
  background-color: dodgerblue;
  text-align: center;
  padding: 10px;
  border: none;
}