/* Imports */
/* 1.1 Normalize Import */  
@import url('//css/normalize.css');


/*General Rules*/
* {
    box-sizing: border-box;
}

*::before, *::after{
box-sizing: border-box;
}

html {
    height: 100%;
}
  
body, nav {
    font-family: sans-serif;
    font-weight: 400;
    color: navy;
    line-height: 26px;
    padding: 0px;
    margin: 0px;
}

main {
      height: 300px;
}
  
#color-container {
    display: flex;
    background-color: white;
  }
  
  #color1 {
    background-color: #4E6CB6;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#color2 {
    background-color: #8F54A3;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#color3 {
    background-color: #FFA32D;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#color4 {
    background-color: #F9E444 ;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

#color5 {
    background-color: black ;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
#color6 {
    background-color: white;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: #2F356A;
      color: white;
      text-align: center;
}
  
header {
    font-family: Arial;
    border: none;
    margin: 0;
    background-color: #2F356A;
    width: 100%;
    padding: 40px 0px 40px 0px;
}
  
  h1 {
    color: white;
    padding-left: 30px;
  }
  
  section h1 {
    color: darkblue;
    font-size: 35px;
  }
  
  h2 {
    color: darkblue;
    padding-left: 30px;
    font-size:  25px;
  }
   
  h3 {
    color: black;
    padding-left: 30px;
    font-size: 15px;
  }
  

  a {
    color: darkblue;
  }
  
  #aFooter {
    color: white;
  }

  section p {
      color: black;
  }

  p {
    color: white;
  }
  
  img {
      position: absolute;
      top: 35px;
      right: 100px;
      width: 20%;
      border: 3px solid navy;
  }
  
  ins {
    text-decoration: none;
  }
  

  /* Tablet Screen Rules */
@media screen and (min-width: 37.5em){
    body{
      font-size: 18px;
    }
    main{
      display: grid;
      grid-template-columns: auto auto;
    }
  
    h1 {
      font-size: 1.8em;
    }
  }
  
  /* Desktop Screen Rules */
  @media screen and (min-width: 60em){
    body{
      font-size: 20px;
    }
    main{
      display: grid;
      grid-template-columns: auto auto auto;
    }
    h1 {
      font-size: 2em;
    }
  }