/* Imports */
/* 1.1 Normalize Import */  
@import url('/weather/css/normalize.css');


/*General Rules*/
* {
    box-sizing: border-box;
}
*::before, *::after{
box-sizing: border-box;
}

html {
    font-family: Ubuntu;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%; 
}
  
body {
  display: block;
  width: 80%;
  height: 76%;
  font-family: Arial;
}

/* Header */
header {
  float: left;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #2F356A;
}

h1 {
  color: white;
  padding-left: 80px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

header p {
  color: white;
  padding-left: 80px;
  margin: 0 0 0 0;
}

img {
  float: left;
  width: 80px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 20px;
  border: 3px solid navy;
}



/*Navigation menu */
nav {
  width: 100%;
  margin: 0;
  max-width: 100%;
  background-color: rgb(74, 21, 92);
}
.navigation {
   display: flex;
}
.navigation li:first-child {
  display: none;
}
.navigation li {
  display: block; /* needed because of state in small view */
  flex: 1 1 100%;
}
.navigation li a {
  text-align: center;
}
.navigation a {
  display: block;
  color:  white;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
}
.navigation a:hover {
  color: #000;
  background-color: gray;
  font-weight: 700;
}
.responsive li {    /* the onclick JS toggles */
  display: block;
}


/* Location */
.location h2 {
  margin: 0;
  color: darkblue;
  padding-left: 30px;
  font-size:  25px;
}

.location p {
  padding-left: 30px;
  margin: 0;
}



/* Information Session */
#information {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-columns:  10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#info-main{
  margin: 10px;
  border: 1px solid navy;
  grid-column-start: 3;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}

#info-temperature{
  margin: 10px;
  border: 1px solid navy;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 11;
  }

#info-precipitation{
  margin: 10px;
  border: 1px solid navy;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 11;
}
     
#info-conditions{
  margin: 10px;
  border: 1px solid navy;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 11;
}


/*   Footer   */
footer {
  padding: 03px;
   margin: 0;
    width: 100%;
    height: 12%;
    color: white;
    text-align: center;
    background-color: #2F356A;
}

  section h1 {
    color: darkblue;
    font-size: 35px;
  }
  
   
  h3 {
    color: black;
    padding-left: 30px;
    font-size: 15px;
  }
  
  a {
    color: darkblue;
  }
  
  #aFooter {
    color: white;
  }

  section p {
    margin: 0;
    color: black;
  }

  footer p {
    color white;
    margin: 0;
  }
  
  ins {
    text-decoration: none;
  }
  