/* Imports */
/* 1.1 Normalize Import */  
@import url('/weather/css/normalize.css');


/*General Rules*/
* {
    box-sizing: border-box;
}
*::before, *::after{
box-sizing: border-box;
}

html {
    font-family: Ubuntu;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%; 
}
  
body {
  display: block;
  width: 80%;
  height: 76%;
  font-family: Arial;
}

/* Header */
header {
  float: left;
  width: 100%;
  height: 80px;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #2F356A;
}

h1 {
  color: white;
  padding-left: 80px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

header p {
  color: white;
  padding-left: 80px;
  margin: 0 0 0 0;
}

img {
  float: left;
  width: 80px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 20px;
  border: 3px solid navy;
}



/*Navigation menu */
nav {
  width: 100%;
  margin: 0;
  max-width: 100%;
  background-color: rgb(74, 21, 92);
}
.navigation {
   display: flex;
}
.navigation li:first-child {
  display: none;
}
.navigation li {
  display: block; /* needed because of state in small view */
  flex: 1 1 100%;
}
.navigation li a {
  text-align: center;
}
.navigation a {
  display: block;
  color:  white;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
}
.navigation a:hover {
  color: #000;
  background-color: gray;
  font-weight: 700;
}
.responsive li {    /* the onclick JS toggles */
  display: block;
}


/* Location */
.location h2 {
  margin: 0;
  color: darkblue;
  padding-left: 30px;
  font-size:  25px;
}

.location p {
  padding-left: 30px;
  margin: 0;
}



/* Information Session */
#information {
  display: grid;
  width: 100%;
  height: 500px;
  grid-template-columns:  10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

#info-main{
  margin: 10px;
  border: 1px solid navy;
  grid-column-start: 2;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}

#info-temperature{
  margin: 10px;
  font-weight: bold;
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 13;
  }

#info-precipitation{
  margin: 10px;
  border: 1px solid navy;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 11;
}
     
#info-conditions{
  margin: 10px;
  border: 1px solid navy;
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 11;
}


/* Component */

.component{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid navy;
}

.circle-main{
  width: 200px;
  height: 200px;
  background-color: darkgray;
  position: relative;
  border-radius: 90%;
  display: flex;  
  justify-content: center;
}
  
.circle-inner{
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 90%;
  align-self: center;
}

.center-symbol {
  position: absolute;
  margin: center;
  z-index: 2;
  Font-size: 70px;
}


.hour {
  position: absolute;
  z-index: 3;
  Font-size: 20px;
  font-weight: bold;
}
.number-12{ margin-top: -90px; margin-left:   auto; }
.number-01{ margin-top: -80px; margin-left:   45px; }
.number-02{ margin-top: -45px; margin-left:   80px; }
.number-03{ margin-top:     0; margin-left:   88px; }
.number-04{ margin-top:  43px; margin-left:   78px; }
.number-05{ margin-top:  75px; margin-left:   50px; }
.number-06{ margin-top:  85px; margin-left:   auto; }
.number-07{ margin-top:  75px; margin-left:  -44px; }
.number-08{ margin-top:  45px; margin-left:  -80px; }
.number-09{ margin-top:     0; margin-left:  -88px; }
.number-10{ margin-top: -45px; margin-left:  -80px; }
.number-11{ margin-top: -80px; margin-left:  -44px; }



.mensure {
  position: absolute;
  z-index: 4;
  Font-size: 25px;
  font-weight: bold;
}
.m-12 { margin-top: -120px; margin-left:   auto; }
.m-01 { margin-top: -100px; margin-left:   70px; }
.m-02 { margin-top:  -55px; margin-left:  110px; }
.m-03 { margin-top:      0; margin-left:  120px; }
.m-04 { margin-top:   55px; margin-left:  110px; }
.m-05 { margin-top:   95px; margin-left:   70px; }
.m-06 { margin-top:  115px; margin-left:   auto; }
.m-07 { margin-top:  100px; margin-left:  -75px; }
.m-08 { margin-top:   60px; margin-left: -105px; }
.m-09 { margin-top:      0; margin-left: -120px; }
.m-10 { margin-top:  -55px; margin-left: -110px; }
.m-11 { margin-top: -100px; margin-left:  -80px; }












/*   Footer   */
footer {
  padding: 03px;
   margin: 0;
    width: 100%;
    height: 12%;
    color: white;
    text-align: center;
    background-color: #2F356A;
}

  section h1 {
    color: darkblue;
    font-size: 35px;
  }
  
   
  h3 {
    color: black;
    padding-left: 30px;
    font-size: 15px;
  }
  
  a {
    color: darkblue;
  }
  
  #aFooter {
    color: white;
  }

  section p {
    margin: 0;
    color: black;
  }

  footer p {
    color: white;
    margin: 0;
  }
  
  ins {
    text-decoration: none;
  }
  