/* Imports */
/* 1.1 Normalize Import */  
@import url('/weather/css/normalize.css');


/*General Rules*/
* {
    box-sizing: border-box;
}
*::before, *::after{
box-sizing: border-box;
}

html {
    font-family: Ubuntu;
    width: 100%;
    height: 100%;
}

body {
  display: block;
  width: 100%;
  font-family: Arial;
}

/* Header */
header {
  float: left;
  width: 100%;
  height: 20%;
  font-family: Arial;
  background-color: #2F356A;
}

h1 {
  color: white;
  padding-left: 80px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

header p {
  color: white;
  padding-left: 80px;
  margin: 0 0 0 0;
}

img {
  float: left;
  width: 80px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 20px;
  border: 3px solid navy;
}


/*Navigation menu */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  max-width: 100%;
  background-color: rgb(74, 21, 92);
}
.navigation {
  list-style: none;
  padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  align-content: center;
  display: none;
}
.navigation a {
  display: block;
  color:  white;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
}
.navigation a:hover {
  color: #000;
  background-color: gray;
  font-weight: 700;
}
.responsive li {    /* the onclick JS toggles the */
  display: block;
}


/* Location */

section {
  margin: 0;
  padding: 0;
}
.location h2 {
    color: darkblue;
    padding-left: 30px;
    padding-top: 20px;
    font-size:  25px;
}
.location p {
  margin: 0;
    padding-left: 30px;
    color: black;
}



/*Information Session */
#information {
    display: block;
    width: 100%;
   height: 800px;
}

#information > div {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 200px;
    text-align: center;
    align-content: center;
    border: 1px solid navy;
} 

/*   Footer   */
footer {
  margin-bottom: 65px;
    font-size: 13px;
  padding: 03px;
    width: 100%;
    height: 12%;
    color: white;
    text-align: center;
    background-color: #2F356A;
}

  section h1 {
    color: darkblue;
    font-size: 35px;
  }
  
  h3 {
    color: black;
    padding-left: 30px;
    font-size: 15px;
  }

  a {
    color: darkblue;
  }
  
  #aFooter {
    color: white;
  }
 
  footer p {
    color: white;
  }
  
  ins {
    text-decoration: none;
  }
  