/* Imports */
/* 1.1 Normalize Import */  
@import url('/weather/css/normalize.css');


/*General Rules*/
* {
    box-sizing: border-box;
}
*::before, *::after{
box-sizing: border-box;
}
html {
    font-family: Ubuntu;
    width: 100%;
    min-width: 400px;
    max-width: 1200px;
}
body {
  display: block;
  width: 100%;
  font-family: Arial;
}

main {
  display: block;
}

/* Header */
header {
  float: left;
  width: 100%;
  height: 85px;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background-color: #2F356A;
}

h1 {
  color: white;
  padding-left: 80px;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

header p {
  color: white;
  padding-left: 80px;
  margin: 0 0 0 0;
}

img {
  float: left;
  width: 80px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 20px;
  border: 3px solid navy;
}

/*Navigation menu */
nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  max-width: 100%;
  background-color: rgb(74, 21, 92);
  z-index: 1000;
}
.navigation {
 list-style: none; 
 padding: 0;
}
.navigation li:first-child {
  display: block;
}
.navigation li {
  align-content: center;
  display: none;
}
.navigation a {
  display: block;
  color:  white;
  padding: 0.75rem;
  text-align: left;
  text-decoration: none;
}
.navigation a:hover {
  color: #000;
  background-color: gray;
  font-weight: 700;
}
.responsive li {    /* the onclick JS toggles the */
  display: block;
}

/* Location */
.location {
  display: block;
  height: 150px;
}
.location h2 {
  color: darkblue;
  margin: 0;
  padding-left: 50px;
  font-size:  45px;
}
.location p {
  margin: 0;
  padding-left: 45px;
  color: black;
}


/*Information Session */
#information {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 1100px; 
  background-size: cover;
  /*padding-top: 20px;*/
}

.info-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;

  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 130px;
  /*margin-top: 10px; */
  border: 1px solid white;

  color: white;
  background-color: rgba(252, 245, 245, 0.5);
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px rgb(144, 130, 130);
  margin: 20px auto;
}


#temp-high{
  width: 33%;
  height: 25px;
  text-align: center;
  font-size: 25px;
  color: red;
}


#temp-actual{
  width: 33%;
  height: 60px;
  text-align: center;
  font-size: 55px;
  color: green;
}

#temp-low{
  text-align: center;
  width: 33%;
  height: 25px;
  font-size: 25px;
  color: blue;
}

#feels-like{
  width: 100%;
  height: 15px;
  border: 0;
  text-align: center;
  font-size: 12px;
  color: red;

}

#wind-std {
width: 50%;
color: black;
}

#wind-gusts{

width: 33%;
color: black;
}

#windicon{
  width: 30px;
}

.info-temperature{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  font-weight: bold;
   border: 1px solid navy;
}

.info-precipitation{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border: 1px solid navy;
}
     
.info-conditions{
  display: block;
  margin-left: auto;
  margin-right: auto;  
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border: 1px solid navy;
}


/* Component */
.component{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border: 1px solid navy;
}

.circle-main{
  width: 200px;
  height: 200px;
  background-color: darkgray;
  position: relative;
  border-radius: 90%;
  display: flex;  
  justify-content: center;
}
  
.circle-inner{
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius: 90%;
  align-self: center;
}

.center-symbol {
  position: absolute;
  z-index: 2;
  Font-size: 20px;
  font-weight: bold;
}

.center-symbol span {
  font-size: 70px;
}

.hour {
  position: absolute;
  z-index: 3;
  Font-size: 20px;
  font-weight: bold;
}
.number-12{ margin-top: -90px; margin-left:   auto; }
.number-01{ margin-top: -80px; margin-left:   45px; }
.number-02{ margin-top: -45px; margin-left:   80px; }
.number-03{ margin-top:     0; margin-left:   88px; }
.number-04{ margin-top:  43px; margin-left:   78px; }
.number-05{ margin-top:  75px; margin-left:   50px; }
.number-06{ margin-top:  85px; margin-left:   auto; }
.number-07{ margin-top:  75px; margin-left:  -44px; }
.number-08{ margin-top:  45px; margin-left:  -80px; }
.number-09{ margin-top:     0; margin-left:  -88px; }
.number-10{ margin-top: -45px; margin-left:  -80px; }
.number-11{ margin-top: -80px; margin-left:  -44px; }


.mensure {
  position: absolute;
  z-index: 4;
  Font-size: 25px;
  font-weight: bold;
}
.m-12 { margin-top: -120px; margin-left:   auto; }
.m-01 { margin-top: -100px; margin-left:   70px; }
.m-02 { margin-top:  -55px; margin-left:  110px; }
.m-03 { margin-top:      0; margin-left:  120px; }
.m-04 { margin-top:   55px; margin-left:  110px; }
.m-05 { margin-top:   95px; margin-left:   70px; }
.m-06 { margin-top:  115px; margin-left:   auto; }
.m-07 { margin-top:  100px; margin-left:  -75px; }
.m-08 { margin-top:   60px; margin-left: -105px; }
.m-09 { margin-top:      0; margin-left: -120px; }
.m-10 { margin-top:  -55px; margin-left: -110px; }
.m-11 { margin-top: -100px; margin-left:  -80px; }


.ball{
  width: 25px;
  height: 25px;
  background-color: lightgreen;
  border-radius: 100%;
  z-index: 7;
}


/* Property value for ball indicator */
.ball-example{
  position: inherit;
  width: 20px;
  height: 20px;
  background-color: rgb(14, 13, 13);
  border-radius: 100%;
  z-index: 7;
  text-align: center;
  color: white;

}






/*   Footer   */
footer {
  margin-bottom: 65px;
    font-size: 13px;
  padding: 03px;
    width: 100%;
    height: 12%;
    color: white;
    text-align: center;
    background-color: #2F356A;
}

  section h1 {
    color: darkblue;
    font-size: 35px;
  }
  
  h3 {
    color: black;
    padding-left: 30px;
    font-size: 15px;
  }

  a {
    color: darkblue;
  }
  
  #aFooter {
    color: white;
  }
 
  footer p {
    color: white;
  }
  
  ins {
    text-decoration: none;
  }
  
  #curWeather {
    background-size: cover;
   }
   


/* background images for behind tiles */
.rain {
  background-image: url("/weather/images/rain-small.jpg");
}

.snow {
  background-image: url("/weather/images/snow-small.jpg");
}

.clouds {
  background-image: url("/weather/images/clouds-small.jpg");
}

.clear {
  background-image: url("/weather/images/clear-small.jpg");
}

.fog {
  background-image: url("/weather/images/fog-small.jpg");
}




/* @media for large screen */
@media only screen and (min-width: 71em) {  
    html {
      width: 100%;
    }  
    body {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    main {
      display: block;
    }

    .location {
      height: 90px;
    }
    /*Information Session */ 
    #information {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 600px;
      background-size: cover;
    }

    /*Navigation menu */
    nav {
      position: static;
      display: flex;
      width: 100%;
      max-width: 100%;
      margin: 0;
      padding: 0;
      background-color: rgb(74, 21, 92);
    }
    .navigation {
      display: flex;
    }
    ul {
      padding: 0;
      margin: 0;
      display: block;
      width: 100%;
    }
    .navigation li:first-child {  /*hidden the menu icon */
      display: none;
    }
    .navigation li {
      display: block; /* needed because of state in small view */
      flex: 1 1 100%;
    }
    .navigation li a {
      text-align: center;
    }
    .navigation a {
      display: block;
      width: 100%;
      color:  white;
      padding: 0.75rem;
      text-align: left;
      text-decoration: none;
    }
    .navigation a:hover {
      color: #000;
      background-color: gray;
      font-weight: 700;
    }
    .responsive li {    /* the onclick JS toggles */
      display: block;
    }
    
    
    /*********************************/
    /*Information Session            */
    /*********************************/
    .information {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      height: 600px;
      height: auto;
    }

    .info-main{
      width: 100%;
      height: 130px;
      margin: 0;
      padding: 0;
    }

    .info-temperature{
      margin: 0;
      padding: 0;
      margin-top: 10px;
    }

    .info-precipitation{
      margin: 0;
      padding: 0;
      margin-top: 10px;
    }
      
    .info-conditions{
      margin: 0;
      padding: 0;
      margin-top: 10px;
    }  
    
    footer {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    /* background images for behind tiles */
    .rain {
      background-image: url("/weather/images/rain-large.jpg");
    }

    .snow {
      background-image: url("/weather/images/snow-large.jpg");
    }

    .clouds {
      background-image: url("/weather/images/clouds-large.jpg");
    }

    .clear {
      background-image: url("/weather/images/clear-large.jpg");
    }

    .fog {
      background-image: url("/weather/images/fog-large.jpg");
    }

}
  


